.login-container{
    padding:50px 0px 100px 0px;
    border: 3px solid lightgrey;
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
}
.login-container h1{
    display: flex;
    justify-content: center;
    color: rgb(119, 106, 106);
}
.or-div{
    display: flex;
    margin-left: 25px;
}
.or{
   padding: 0px 5px 0px 5px;
}
.deash{
    height: 1px;
    background-color: grey;
    width: 200px;
    margin-top: 13px;
}
.social-button{
    border: none;
    margin-left: 120px;
    margin-top: 15px;
    border-radius: 5px;
    width: 350px;
}
.social-button img{
    width: 30px;
    height:25px;
    margin-right: 25px;
}
